<xh:html xmlns:xh="http://www.w3.org/1999/xhtml"
         xmlns:xxi="http://orbeon.org/oxf/xml/xinclude"
         xmlns:xxf="http://orbeon.org/oxf/xml/xforms"
         xmlns:exf="http://www.exforms.org/exf/1-0"
         xmlns:saxon="http://saxon.sf.net/"
         xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/"
         xmlns:fb="http://orbeon.org/oxf/xml/form-builder"
         xmlns:oxf="http://www.orbeon.com/oxf/processors"
         xmlns:f="http//www.orbeon.com/function"
         xmlns:xi="http://www.w3.org/2001/XInclude"
         xmlns:ev="http://www.w3.org/2001/xml-events"
         xmlns:sql="http://orbeon.org/oxf/xml/sql"
         xmlns:p="http://www.orbeon.com/oxf/pipeline"
         xmlns:xs="http://www.w3.org/2001/XMLSchema"
         xmlns:fr="http://orbeon.org/oxf/xml/form-runner"
         xmlns:odt="http://orbeon.org/oxf/xml/datatypes"
         xmlns:xf="http://www.w3.org/2002/xforms"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <xh:head>
        <xh:title>Transport Renewal</xh:title>
        <xf:model id="fr-form-model" xxf:expose-xpath-types="true">

            
            <xf:instance id="fr-form-instance">
                <form>
                    <section-3>
                        <data-protection-act-disclaimer/>
                        <mandatory-fields-note/>
                    </section-3>
                    <section-1>
                        <control-24>full-year</control-24>
                        <control-25/>
                        
                    </section-1>
                    <section-7>
                        <control-28/>
                        <control-27/>
                        <control-29/>
                        <control-30/>
                        <control-31/>
                        <control-32/>
                        <control-49/>
                        <post16GetPassengerAddressResponseError/>
                    </section-7>
                    <student-details>
                        <control-34/>
                        <confirmBuildingNo/>
                        <confirmStreet/>
                        <confirmLocality/>
                        <confirmTown/>
                        <confirmCounty>Devon</confirmCounty>
                        <confirmPostcode/>
                        <addressConfirmed>yes</addressConfirmed>
                        <control-42/>
                    </student-details>
                    <section-24>
                        <control-44/>
                    </section-24>
                    <section-26>
                        <control-48/>
                        <control-46/>
                    </section-26>
                </form>
            </xf:instance>

            
            <xf:bind xmlns:dataModel="java:org.orbeon.oxf.fb.DataModel" id="fr-form-binds"
                     ref="instance('fr-form-instance')">
                <xf:bind id="section-3-bind" ref="section-3" name="section-3"/>
                <xf:bind id="section-1-bind" name="section-1" ref="section-1">
                    <xf:bind id="control-24-bind" ref="control-24" name="control-24" required="true()"/>
                    <xf:bind id="control-25-bind" ref="control-25" name="control-25" type="xs:gYear"
                             required="true()"/>
                    
                </xf:bind>
                <xf:bind id="section-7-bind" ref="section-7" name="section-7">
                    <xf:bind id="control-28-bind" ref="control-28" name="control-28"/>
                    <xf:bind id="control-27-bind" ref="control-27" name="control-27"
                             constraint="matches(., '^[A-Z]{2}/[0-9]{5}[A-Z]$', '')"/>
                    <xf:bind id="control-29-bind" ref="control-29" name="control-29" required="true()"/>
                    <xf:bind id="control-30-bind" ref="control-30" name="control-30" required="true()"/>
                    <xf:bind id="control-31-bind" ref="control-31" name="control-31" type="xs:date"
                             required="true()"/>
                    <xf:bind id="control-32-bind" ref="control-32" name="control-32" required="true()"/>
                    <xf:bind id="post16GetPassengerAddressResponseError-bind"
                             ref="post16GetPassengerAddressResponseError"
                             name="post16GetPassengerAddressResponseError"
                             xxf:default="'After entering details above, please press the &#34;Check eligibility&#34; button to proceed'"
                             constraint="string-length(.) eq 0"/>
                    <xf:bind id="control-49-bind" ref="control-49" name="control-49"/>
                </xf:bind>
                <xf:bind id="student-details-bind" ref="student-details" name="student-details"
                         relevant="string-length(//post16GetPassengerAddressResponseError) eq 0">
                    <xf:bind id="control-34-bind" ref="control-34" name="control-34"/>
                    <xf:bind id="confirmBuildingNo-bind" ref="confirmBuildingNo" name="confirmBuildingNo"
                             readonly="//addressConfirmed eq 'yes'"
                             required="true()"/>
                    <xf:bind id="confirmStreet-bind" ref="confirmStreet" name="confirmStreet"
                             readonly="//addressConfirmed eq 'yes'"/>
                    <xf:bind id="confirmLocality-bind" ref="confirmLocality" name="confirmLocality"
                             readonly="//addressConfirmed eq 'yes'"/>
                    <xf:bind id="confirmTown-bind" ref="confirmTown" name="confirmTown"
                             readonly="//addressConfirmed eq 'yes'"
                             required="true()"/>
                    <xf:bind id="confirmCounty-bind" ref="confirmCounty" name="confirmCounty"
                             readonly="//addressConfirmed eq 'yes'"/>
                    <xf:bind id="confirmPostcode-bind" ref="confirmPostcode" name="confirmPostcode"
                             readonly="//addressConfirmed eq 'yes'"
                             required="true()"/>
                    <xf:bind id="addressConfirmed-bind" ref="addressConfirmed" name="addressConfirmed"
                             required="true()"/>
                    <xf:bind id="control-42-bind" ref="control-42" name="control-42"/>
                </xf:bind>
                <xf:bind id="section-24-bind" ref="section-24" name="section-24">
                    <xf:bind id="control-44-bind" ref="control-44" name="control-44"/>
                </xf:bind>
                <xf:bind id="section-26-bind" ref="section-26" name="section-26">
                    <xf:bind id="control-46-bind" ref="control-46" name="control-46"/>
                    <xf:bind id="control-48-bind" ref="control-48" name="control-48" readonly="true()"/>
                </xf:bind>
            </xf:bind>

            
            <xf:instance xxf:readonly="true" id="fr-form-metadata">
                <metadata>
                    <application-name>transport</application-name>
                    <form-name>DCC_ENV_Post16TransportRenewal_03</form-name>
                    <title xml:lang="en">Transport Renewal</title>
                    <description xml:lang="en">This service allows you to pay online for transport using a credit or debit card or by renewing your existing Direct Debit.</description>
                </metadata>
            </xf:instance>

            
            <xf:instance id="fr-form-attachments">
                <attachments>
                    <css mediatype="text/css" filename="" size=""/>
                    <pdf mediatype="application/pdf" filename="" size=""/>
                </attachments>
            </xf:instance>

            
            
            <xf:instance id="fr-form-resources" xxf:readonly="false">
                <resources>
                    <resource xml:lang="en">
                        <control-48>
                            <label>Please note that the amount you will pay for the period specified will be:</label>
                            <hint/>
                            <help/>
                            <alert/>
                        </control-48>
                        <control-46>
                            <label/>
                            <hint>Suggest payer details should be moved out of this form and into a second payment form</hint>
                            <help/>
                            <alert/>
                        </control-46>
                        <control-44>
                            <label/>
                            <hint>I haven't migrated this section because Orbeon's single page + AJAX nature means [1356] can be used</hint>
                            <help/>
                            <alert/>
                        </control-44>
                        <control-34>
                            <label>Please confirm details of the student's address. This is the address to which the pass will be sent.</label>
                            <hint/>
                            <help/>
                            <alert/>
                        </control-34>
                        <confirmBuildingNo>
                            <label>Builder number/name: [1359]</label>
                            <hint/>
                            <help/>
                            <alert/>
                        </confirmBuildingNo>
                        <confirmStreet>
                            <label>Street: [1360]</label>
                            <hint/>
                            <help/>
                            <alert/>
                        </confirmStreet>
                        <confirmLocality>
                            <label>Locality: [1361]</label>
                            <hint/>
                            <help/>
                            <alert/>
                        </confirmLocality>
                        <confirmTown>
                            <label>Town: [1362]</label>
                            <hint/>
                            <help/>
                            <alert/>
                        </confirmTown>
                        <confirmCounty>
                            <label>County: [1363]</label>
                            <hint/>
                            <help/>
                            <alert/>
                        </confirmCounty>
                        <confirmPostcode>
                            <label>Postcode: [1364]</label>
                            <hint/>
                            <help/>
                            <alert/>
                        </confirmPostcode>
                        <addressConfirmed>
                            <label>Is this the correct address? [1365]</label>
                            <hint/>
                            <help/>
                            <alert/>
                            <item>
                                <label>Yes</label>
                                <value>yes</value>
                            </item>
                            <item>
                                <label>No</label>
                                <value>no</value>
                            </item>
                        </addressConfirmed>
                        <control-42>
                            <label>If you wish to change the address to which the pass will be sent please contact us.</label>
                            <hint>Maybe this can be done via the transactional service? i.e. allow the user to submit the form and then raise a callback request to discuss address change with them</hint>
                            <help/>
                            <alert/>
                        </control-42>
                        <control-28>
                            <label>Please provide the following details about the student</label>
                            <hint/>
                            <help/>
                            <alert/>
                        </control-28>
                        <control-27>
                            <label>Passenger reference number: [1349]</label>
                            <hint>e.g. AA/NNNNNA (A = Alphanumeric, N = Numeric)</hint>
                            <help/>
                            <alert/>
                        </control-27>
                        <control-29>
                            <label>First name: [136]</label>
                            <hint/>
                            <help/>
                            <alert/>
                        </control-29>
                        <control-30>
                            <label>Last name: [877]</label>
                            <hint/>
                            <help/>
                            <alert/>
                        </control-30>
                        <control-31>
                            <label>Date of Birth: [254]</label>
                            <hint/>
                            <help/>
                            <alert/>
                        </control-31>
                        <control-32>
                            <label>Gender: [257]</label>
                            <hint/>
                            <help/>
                            <alert/>
                            <item>                  
                                <label>Male</label>
                                <value>male</value>
                            </item>
                            <item>                  
                                <label>Female</label>
                                <value>female</value>
                            </item>
                        </control-32>
                        <control-49>
                            <label>Check eligibility</label>
                            <help/>
                            <hint/>
                            <alert/>
                        </control-49>
                        <post16GetPassengerAddressResponseError>
                            <label/>
                            <hint/>
                            <help/>
                            <alert/>
                        </post16GetPassengerAddressResponseError>
                        <control-24>
                            <label>Do you wish to pay for the full year or one term? [535]</label>
                            <hint/>
                            <help/>
                            <alert/>
                            <item>
                                <label>Full year</label>
                                <value>full-year</value>
                            </item>
                            <item>
                                <label>Autumn term only</label>
                                <value>autumn-term-only</value>
                            </item>
                            <item>
                                <label>Spring term only</label>
                                <value>spring-term-only</value>
                            </item>
                            <item>                  
                                <label>Summer term only</label>
                                <value>summer-term-only</value>
                            </item>
                        </control-24>
                        <control-25>
                            <label>Please enter the calendar year in which the academic year will start / has started: [1109]</label>
                            <hint/>
                            <help/>
                            <alert/>
                        </control-25>
                        <section-7>
                            <label>Student details [133]</label>
                            <help/>
                        </section-7>
                        <student-details>
                            <label>Student details [1356]</label>
                            <help/>
                        </student-details>
                        <section-24>
                            <label>Student details [894]</label>
                            <help/>
                        </section-24>
                        <section-26>
                            <label>Payers details [907]</label>
                            <help/>
                        </section-26>
                        <section-1>
                            <label>Payment details [869]</label>
                            <help/>
                        </section-1>
                        <section-3>
                            <label>Data Protection Act</label>
                            <help/>
                        </section-3>
                        
                    </resource>
                </resources>
            </xf:instance>

            
            <xf:instance id="fr-service-request-instance" xxf:exclude-result-prefixes="#all">
                <request/>
            </xf:instance>

            <xf:instance id="fr-service-response-instance" xxf:exclude-result-prefixes="#all">
                <response/>
            </xf:instance>

            <xf:instance id="post16GetPassengerAddress-instance" class="fr-service"
                         xxf:exclude-result-prefixes="#all">
                <body>&lt;SOAP-ENV:Envelope xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
    xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"&gt;
    &lt;SOAP-ENV:Body&gt;
        &lt;post16GetPassengerAddress xmlns="http://www.openuri.org/"
            xmlns:tram="http://www.devon.gov.uk/TRAMSCustomTypes"
            xmlns:tram1="http://www.devon.gov.uk/TRAMSValidation"&gt;
            &lt;tram:passengerDetails&gt;
                &lt;tram:passengerRef&gt;&lt;/tram:passengerRef&gt;
                &lt;tram:firstName&gt;&lt;/tram:firstName&gt;
                &lt;tram:surname&gt;&lt;/tram:surname&gt;
                &lt;tram:dateOfBirth&gt;&lt;/tram:dateOfBirth&gt;
                &lt;tram:gender&gt;&lt;/tram:gender&gt;
            &lt;/tram:passengerDetails&gt;
        &lt;/post16GetPassengerAddress&gt;
    &lt;/SOAP-ENV:Body&gt;
&lt;/SOAP-ENV:Envelope&gt;</body>
            </xf:instance>
            <xf:submission id="post16GetPassengerAddress-submission" class="fr-service"
                           ref="instance('fr-service-request-instance')"
                           resource="http://egovdvl.devon.gov.uk:7001/TRAMSServicesWeb/TRAMSServices.jws"
                           method="post"
                           serialization="application/xml"
                           mediatype="application/soap+xml; action=http://www.openuri.org/post16GetPassengerAddress"
                           replace="instance"
                           instance="fr-service-response-instance"/>
            <xf:action id="post16GetPassengerAddress-binding">
                
                <xf:action ev:event="DOMActivate" ev:observer="control-49-control" if="true()">
                    
                    <xf:send submission="post16GetPassengerAddress-submission"/>
                </xf:action>
                
                <xf:action ev:event="xforms-submit" ev:observer="post16GetPassengerAddress-submission">
                    
                    <xf:var name="request-instance-name" value="'post16GetPassengerAddress-instance'"
                            as="xs:string"/>
                    
                    <xf:insert ref="instance('fr-service-request-instance')"
                               origin="saxon:parse(instance($request-instance-name))"/>
                    
                    
                    <xf:action context="instance('fr-service-request-instance')">
                        <xf:action class="fr-set-service-value-action">
                    
                            <xf:var name="control-name" value="'control-27'" as="xs:string"/>
                            <xf:var name="path" value="//*:passengerRef" as="xs:string"/>
                    
                            <xf:setvalue ref="$path" value="instance('fr-form-instance')/*/*[name() = $control-name]"/>
                        </xf:action>
                        <xf:action class="fr-set-service-value-action">
                    
                            <xf:var name="control-name" value="'control-29'" as="xs:string"/>
                            <xf:var name="path" value="//*:firstName" as="xs:string"/>
                    
                            <xf:setvalue ref="$path" value="instance('fr-form-instance')/*/*[name() = $control-name]"/>
                        </xf:action>
                        <xf:action class="fr-set-service-value-action">
                    
                            <xf:var name="control-name" value="'control-30'" as="xs:string"/>
                            <xf:var name="path" value="//*:surname" as="xs:string"/>
                    
                            <xf:setvalue ref="$path" value="instance('fr-form-instance')/*/*[name() = $control-name]"/>
                        </xf:action>
                        <xf:action class="fr-set-service-value-action">
                    
                            <xf:var name="control-name" value="'control-31'" as="xs:string"/>
                            <xf:var name="path" value="//*:dateOfBirth" as="xs:string"/>
                    
                            <xf:setvalue ref="$path" value="instance('fr-form-instance')/*/*[name() = $control-name]"/>
                        </xf:action>
                        <xf:action class="fr-set-service-value-action">
                    
                            <xf:var name="control-name" value="'control-32'" as="xs:string"/>
                            <xf:var name="path" value="//*:gender" as="xs:string"/>
                    
                            <xf:setvalue ref="$path" value="instance('fr-form-instance')/*/*[name() = $control-name]"/>
                        </xf:action>
                        
                    </xf:action>
                </xf:action>
                
                <xf:action ev:event="xforms-submit-done"
                           ev:observer="post16GetPassengerAddress-submission"
                           context="instance('fr-service-response-instance')">
                    <xf:action class="fr-set-control-value-action">
                    
                        <xf:var name="control-name" value="'confirmBuildingNo'" as="xs:string"/>
                        <xf:var name="control-value" value="//*:buildingNo" as="xs:string"/>
                    
                        <xf:setvalue ref="instance('fr-form-instance')/*/*[name() = $control-name]"
                                     value="$control-value"/>
                    </xf:action>
                    <xf:action class="fr-set-control-value-action">
                    
                        <xf:var name="control-name" value="'post16GetPassengerAddressResponseError'"
                                as="xs:string"/>
                        <xf:var name="control-value" value="//*:passengerDetails/@*:error" as="xs:string"/>
                    
                        <xf:setvalue ref="instance('fr-form-instance')/*/*[name() = $control-name]"
                                     value="$control-value"/>
                    </xf:action>
                    <xf:action class="fr-set-control-value-action">
                    
                        <xf:var name="control-name" value="'confirmStreet'" as="xs:string"/>
                        <xf:var name="control-value" value="//*:street" as="xs:string"/>
                    
                        <xf:setvalue ref="instance('fr-form-instance')/*/*[name() = $control-name]"
                                     value="$control-value"/>
                    </xf:action>
                    <xf:action class="fr-set-control-value-action">
                    
                        <xf:var name="control-name" value="'confirmLocality'" as="xs:string"/>
                        <xf:var name="control-value" value="//*:locality" as="xs:string"/>
                    
                        <xf:setvalue ref="instance('fr-form-instance')/*/*[name() = $control-name]"
                                     value="$control-value"/>
                    </xf:action>
                    <xf:action class="fr-set-control-value-action">
                    
                        <xf:var name="control-name" value="'confirmTown'" as="xs:string"/>
                        <xf:var name="control-value" value="//*:town" as="xs:string"/>
                    
                        <xf:setvalue ref="instance('fr-form-instance')/*/*[name() = $control-name]"
                                     value="$control-value"/>
                    </xf:action>
                    <xf:action class="fr-set-control-value-action">
                    
                        <xf:var name="control-name" value="'confirmCounty'" as="xs:string"/>
                        <xf:var name="control-value" value="//*:county" as="xs:string"/>
                    
                        <xf:setvalue ref="instance('fr-form-instance')/*/*[name() = $control-name]"
                                     value="$control-value"/>
                    </xf:action>
                    <xf:action class="fr-set-control-value-action">
                    
                        <xf:var name="control-name" value="'confirmPostcode'" as="xs:string"/>
                        <xf:var name="control-value" value="//*:postcode" as="xs:string"/>
                    
                        <xf:setvalue ref="instance('fr-form-instance')/*/*[name() = $control-name]"
                                     value="$control-value"/>
                    </xf:action>
                    
                </xf:action>
            </xf:action>
        </xf:model>
    </xh:head>
    <xh:body>
        <fr:view>
            <fr:body xmlns:xbl="http://www.w3.org/ns/xbl"
                     xmlns:dataModel="java:org.orbeon.oxf.fb.DataModel">
                <fr:section id="section-3-control" bind="section-3-bind">
                    <xf:label ref="$form-resources/section-3/label"/>
                    <xf:help ref="$form-resources/section-3/help"/>
                    <component:data-protection-act xmlns:component="http://orbeon.org/oxf/xml/form-builder/component/orbeon/library"
                                                   xmlns="http://orbeon.org/oxf/xml/form-builder"
                                                   xmlns:xxbl="http://orbeon.org/oxf/xml/xbl"
                                                   xmlns:fbf="java:org.orbeon.oxf.fb.FormBuilderFunctions"
                                                   xmlns:controlOps="java:org.orbeon.oxf.fb.ControlOps"
                                                   xmlns:gridOps="java:org.orbeon.oxf.fb.GridOps"/>
                </fr:section>
                <fr:section id="section-1-control" bind="section-1-bind">
                    <xf:label ref="$form-resources/section-1/label"/>
                    <xf:help ref="$form-resources/section-1/help"/>
                    <fr:grid>
                        <xh:tr>
                            <xh:td>
                                <xf:select1 id="control-24-control" appearance="full" bind="control-24-bind">
                                    <xf:label ref="$form-resources/control-24/label"/>
                                    <xf:hint ref="$form-resources/control-24/hint"/>
                                    <xf:help ref="$form-resources/control-24/help"/>
                                    <xf:alert ref="$fr-resources/detail/labels/alert"/>
                                    <xf:itemset ref="$form-resources/control-24/item">
                                        <xf:label ref="label"/>
                                        <xf:value ref="value"/>
                                    </xf:itemset>
                                </xf:select1>
                                
                            </xh:td>
                            <xh:td>
                                <xf:input id="control-25-control" bind="control-25-bind">
                                    <xf:label ref="$form-resources/control-25/label"/>
                                    <xf:hint ref="$form-resources/control-25/hint"/>
                                    <xf:help ref="$form-resources/control-25/help"/>
                                    <xf:alert ref="$fr-resources/detail/labels/alert"/>
                                </xf:input>
                            </xh:td>
                        </xh:tr>
                    </fr:grid>
                </fr:section>
                <fr:section id="section-7-control" bind="section-7-bind">
                    <xf:label ref="$form-resources/section-7/label"/>
                    <xf:help ref="$form-resources/section-7/help"/>
                    <fr:grid>
                        <xh:tr>
                            <xh:td>
                                <xf:output id="control-28-control" bind="control-28-bind">
                                    <xf:label ref="$form-resources/control-28/label"/>
                                    <xf:hint ref="$form-resources/control-28/hint"/>
                                    <xf:help ref="$form-resources/control-28/help"/>
                                    <xf:alert ref="$fr-resources/detail/labels/alert"/>
                                </xf:output>
                            </xh:td>
                        </xh:tr>
                    </fr:grid>
                    <fr:grid>
                        <xh:tr>
                            <xh:td>
                                <xf:input id="control-27-control" bind="control-27-bind">
                                    <xf:label ref="$form-resources/control-27/label"/>
                                    <xf:hint ref="$form-resources/control-27/hint"/>
                                    <xf:help ref="$form-resources/control-27/help"/>
                                    <xf:alert ref="$fr-resources/detail/labels/alert"/>
                                </xf:input>
                            </xh:td>
                            <xh:td>
                                <xf:input id="control-29-control" bind="control-29-bind">
                                    <xf:label ref="$form-resources/control-29/label"/>
                                    <xf:hint ref="$form-resources/control-29/hint"/>
                                    <xf:help ref="$form-resources/control-29/help"/>
                                    <xf:alert ref="$fr-resources/detail/labels/alert"/>
                                </xf:input>
                            </xh:td>
                            <xh:td>
                                <xf:input id="control-30-control" bind="control-30-bind">
                                    <xf:label ref="$form-resources/control-30/label"/>
                                    <xf:hint ref="$form-resources/control-30/hint"/>
                                    <xf:help ref="$form-resources/control-30/help"/>
                                    <xf:alert ref="$fr-resources/detail/labels/alert"/>
                                </xf:input>
                            </xh:td>
                        </xh:tr>
                        <xh:tr>
                            <xh:td>
                                <xf:input id="control-31-control" bind="control-31-bind">
                                    <xf:label ref="$form-resources/control-31/label"/>
                                    <xf:hint ref="$form-resources/control-31/hint"/>
                                    <xf:help ref="$form-resources/control-31/help"/>
                                    <xf:alert ref="$fr-resources/detail/labels/alert"/>
                                </xf:input>
                            </xh:td>
                            <xh:td>
                                <xf:select1 id="control-32-control" appearance="full" bind="control-32-bind">
                                    <xf:label ref="$form-resources/control-32/label"/>
                                    <xf:hint ref="$form-resources/control-32/hint"/>
                                    <xf:help ref="$form-resources/control-32/help"/>
                                    <xf:alert ref="$fr-resources/detail/labels/alert"/>
                                    <xf:itemset ref="$form-resources/control-32/item">
                                        <xf:label ref="label"/>
                                        <xf:value ref="value"/>
                                    </xf:itemset>
                                </xf:select1>
                            </xh:td>
                            <xh:td/>
                        </xh:tr>
                        <xh:tr>
                            <xh:td/>
                            <xh:td>
                                <xf:trigger id="control-49-control" bind="control-49-bind">
                                    <xf:label ref="$form-resources/control-49/label"/>
                                    <xf:help ref="$form-resources/control-49/help"/>
                                    <xf:hint ref="$form-resources/control-49/hint"/>
                                    <xf:alert ref="$fr-resources/detail/labels/alert"/>
                                </xf:trigger>
                            </xh:td>
                            <xh:td>
                                <xf:output id="post16GetPassengerAddressResponseError-control"
                                           bind="post16GetPassengerAddressResponseError-bind">
                                    <xf:label ref="$form-resources/post16GetPassengerAddressResponseError/label"/>
                                    <xf:hint ref="$form-resources/post16GetPassengerAddressResponseError/hint"/>
                                    <xf:help ref="$form-resources/post16GetPassengerAddressResponseError/help"/>
                                    <xf:alert ref="$fr-resources/detail/labels/alert"/>
                                </xf:output>
                            </xh:td>
                        </xh:tr>
                    </fr:grid>
                </fr:section>
                <fr:section id="student-details-control" bind="student-details-bind">
                    <xf:label ref="$form-resources/student-details/label"/>
                    <xf:help ref="$form-resources/student-details/help"/>
                    <fr:grid>
                        <xh:tr>
                            <xh:td>
                                <xf:output id="control-34-control" bind="control-34-bind">
                                    <xf:label ref="$form-resources/control-34/label"/>
                                    <xf:hint ref="$form-resources/control-34/hint"/>
                                    <xf:help ref="$form-resources/control-34/help"/>
                                    <xf:alert ref="$fr-resources/detail/labels/alert"/>
                                </xf:output>
                            </xh:td>
                        </xh:tr>
                    </fr:grid>
                    <fr:grid>
                        <xh:tr>
                            <xh:td>
                                <xf:input id="confirmBuildingNo-control" bind="confirmBuildingNo-bind">
                                    <xf:label ref="$form-resources/confirmBuildingNo/label"/>
                                    <xf:hint ref="$form-resources/confirmBuildingNo/hint"/>
                                    <xf:help ref="$form-resources/confirmBuildingNo/help"/>
                                    <xf:alert ref="$fr-resources/detail/labels/alert"/>
                                </xf:input>
                            </xh:td>
                            <xh:td>
                                <xf:input id="confirmStreet-control" bind="confirmStreet-bind">
                                    <xf:label ref="$form-resources/confirmStreet/label"/>
                                    <xf:hint ref="$form-resources/confirmStreet/hint"/>
                                    <xf:help ref="$form-resources/confirmStreet/help"/>
                                    <xf:alert ref="$fr-resources/detail/labels/alert"/>
                                </xf:input>
                            </xh:td>
                        </xh:tr>
                        <xh:tr>
                            <xh:td>
                                <xf:input id="confirmLocality-control" bind="confirmLocality-bind">
                                    <xf:label ref="$form-resources/confirmLocality/label"/>
                                    <xf:hint ref="$form-resources/confirmLocality/hint"/>
                                    <xf:help ref="$form-resources/confirmLocality/help"/>
                                    <xf:alert ref="$fr-resources/detail/labels/alert"/>
                                </xf:input>
                            </xh:td>
                            <xh:td>
                                <xf:input id="confirmTown-control" bind="confirmTown-bind">
                                    <xf:label ref="$form-resources/confirmTown/label"/>
                                    <xf:hint ref="$form-resources/confirmTown/hint"/>
                                    <xf:help ref="$form-resources/confirmTown/help"/>
                                    <xf:alert ref="$fr-resources/detail/labels/alert"/>
                                </xf:input>
                            </xh:td>
                        </xh:tr>
                        <xh:tr>
                            <xh:td>
                                <xf:input id="confirmCounty-control" bind="confirmCounty-bind">
                                    <xf:label ref="$form-resources/confirmCounty/label"/>
                                    <xf:hint ref="$form-resources/confirmCounty/hint"/>
                                    <xf:help ref="$form-resources/confirmCounty/help"/>
                                    <xf:alert ref="$fr-resources/detail/labels/alert"/>
                                </xf:input>
                            </xh:td>
                            <xh:td>
                                <xf:input id="confirmPostcode-control" bind="confirmPostcode-bind">
                                    <xf:label ref="$form-resources/confirmPostcode/label"/>
                                    <xf:hint ref="$form-resources/confirmPostcode/hint"/>
                                    <xf:help ref="$form-resources/confirmPostcode/help"/>
                                    <xf:alert ref="$fr-resources/detail/labels/alert"/>
                                </xf:input>
                            </xh:td>
                        </xh:tr>
                    </fr:grid>
                    <fr:grid>
                        <xh:tr>
                            <xh:td>
                                <xf:select1 id="addressConfirmed-control" appearance="full" bind="addressConfirmed-bind">
                                    <xf:label ref="$form-resources/addressConfirmed/label"/>
                                    <xf:hint ref="$form-resources/addressConfirmed/hint"/>
                                    <xf:help ref="$form-resources/addressConfirmed/help"/>
                                    <xf:alert ref="$fr-resources/detail/labels/alert"/>
                                    <xf:itemset ref="$form-resources/addressConfirmed/item">
                                        <xf:label ref="label"/>
                                        <xf:value ref="value"/>
                                    </xf:itemset>
                                </xf:select1>
                            </xh:td>
                        </xh:tr>
                        <xh:tr>
                            <xh:td>
                                <xf:output id="control-42-control" bind="control-42-bind">
                                    <xf:label ref="$form-resources/control-42/label"/>
                                    <xf:hint ref="$form-resources/control-42/hint"/>
                                    <xf:help ref="$form-resources/control-42/help"/>
                                    <xf:alert ref="$fr-resources/detail/labels/alert"/>
                                </xf:output>
                            </xh:td>
                        </xh:tr>
                    </fr:grid>
                </fr:section>
                <fr:section id="section-24-control" bind="section-24-bind">
                    <xf:label ref="$form-resources/section-24/label"/>
                    <xf:help ref="$form-resources/section-24/help"/>
                    <fr:grid>
                        <xh:tr>
                            <xh:td>
                                <xf:output id="control-44-control" bind="control-44-bind">
                                    <xf:label ref="$form-resources/control-44/label"/>
                                    <xf:hint ref="$form-resources/control-44/hint"/>
                                    <xf:help ref="$form-resources/control-44/help"/>
                                    <xf:alert ref="$fr-resources/detail/labels/alert"/>
                                </xf:output>
                            </xh:td>
                        </xh:tr>
                    </fr:grid>
                </fr:section>
                <fr:section id="section-26-control" bind="section-26-bind">
                    <xf:label ref="$form-resources/section-26/label"/>
                    <xf:help ref="$form-resources/section-26/help"/>
                    <fr:grid>
                        <xh:tr>
                            <xh:td>
                                <xf:input id="control-48-control" bind="control-48-bind">
                                    <xf:label ref="$form-resources/control-48/label"/>
                                    <xf:hint ref="$form-resources/control-48/hint"/>
                                    <xf:help ref="$form-resources/control-48/help"/>
                                    <xf:alert ref="$fr-resources/detail/labels/alert"/>
                                </xf:input>
                            </xh:td>
                        </xh:tr>
                        <xh:tr>
                            <xh:td>
                                <xf:output id="control-46-control" bind="control-46-bind">
                                    <xf:label ref="$form-resources/control-46/label"/>
                                    <xf:hint ref="$form-resources/control-46/hint"/>
                                    <xf:help ref="$form-resources/control-46/help"/>
                                    <xf:alert ref="$fr-resources/detail/labels/alert"/>
                                </xf:output>
                            </xh:td>
                        </xh:tr>
                    </fr:grid>
                </fr:section>
            </fr:body>
        </fr:view>
    </xh:body>
</xh:html>